.cross {
    width: 65px;
    height: 65px;
    position: relative;
}

.cross::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    transform: rotate(45deg);
    left: 47%;
    border-radius: 5px;
    animation: blinkAnimation 1s infinite alternate;
}

.cross::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    transform: rotate(-45deg);
    left: 47%;
    border-radius: 5px;
    animation: blinkAnimation 1s infinite alternate;
}

@keyframes blinkAnimation  {
    0% {
    }
    100% {
    }
} 